
<div *ngIf="parametreMetier">
    <h2><span jhiTranslate="golfDistanceApp.parametreMetier.detail.title">Parametre Metier</span> {{parametreMetier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="golfDistanceApp.parametreMetier.code">Code</span></dt>
        <dd>
            <span>{{parametreMetier.code}}</span>
        </dd>
        <dt><span jhiTranslate="golfDistanceApp.parametreMetier.libelle">Libelle</span></dt>
        <dd>
            <span>{{parametreMetier.libelle}}</span>
        </dd>
        <dt><span jhiTranslate="golfDistanceApp.parametreMetier.valeur">Valeur</span></dt>
        <dd>
            <span>{{parametreMetier.valeur}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parametre-metier/'+ parametreMetier.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
