<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReferentielLabel" jhiTranslate="golfDistanceApp.referentiel.home.createOrEditLabel">Create or edit a Referentiel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!referentiel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="referentiel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="golfDistanceApp.referentiel.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="referentiel.code" required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="golfDistanceApp.referentiel.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                [(ngModel)]="referentiel.libelle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="golfDistanceApp.referentiel.ordre" for="field_ordre">Ordre</label>
            <input type="number" class="form-control" name="ordre" id="field_ordre"
                [(ngModel)]="referentiel.ordre"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="golfDistanceApp.referentiel.typeReferentiel" for="field_typeReferentiel">Type Referentiel</label>
            <select class="form-control" id="field_typeReferentiel" name="typeReferentiel" [(ngModel)]="referentiel.typeReferentiel" >
                <option [ngValue]="null"></option>
                <option [ngValue]="typeReferentielOption.id === referentiel.typeReferentiel?.id ? referentiel.typeReferentiel : typeReferentielOption" *ngFor="let typeReferentielOption of typereferentiels; trackBy: trackTypeReferentielById">{{typeReferentielOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
