<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTypeReferentielLabel" jhiTranslate="golfDistanceApp.typeReferentiel.home.createOrEditLabel">Create or edit a Type Referentiel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!typeReferentiel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="typeReferentiel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="golfDistanceApp.typeReferentiel.trfCode" for="field_trfCode">Trf Code</label>
            <input type="text" class="form-control" name="trfCode" id="field_trfCode"
                [(ngModel)]="typeReferentiel.trfCode" required />
            <div [hidden]="!(editForm.controls.trfCode?.dirty && editForm.controls.trfCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.trfCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="golfDistanceApp.typeReferentiel.libelle" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                [(ngModel)]="typeReferentiel.libelle"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
